body {
	background-color: #222829;	
}

.nav {
	margin-top: 5px;
}

.nav a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.nav li {
	display: inline;
}

.jumbotron {
	background-image:
		url('../img/Cover_ShadowOfMordor.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container {
	position: relative;
	top: 100px;
}

.jumbotron h1 {
	color: #fff;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron p {
	font-size: 20px;
	color: #fff;
}

.content {
	background-color: #efefef;
}

.content h2 {
	color: #393C3D;
	font-size: 24px;
}

.content p {
	font-size: 15px;
	margin-bottom: 13px;
}

.content-bottom {
	background-color: #f7f7f7;
}

.content-bottom h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.content-bottom a {
	color: #00b0ff;
}

li a:hover {
	color: #74898C;
	font-weight: bold;
	text-decoration: none;
}

#link:hover {
color: #54B2FF;
font-weight: bold;
text-decoration: none;
}

#codecademy:hover {
	color: #74898C;
	font-weight: bold;
	text-decoration: none;
}

#codecademy:visited {
    color:#EE9A00;
}
