/*d.loell, 29.11.2014: adding charset*/
@CHARSET "UTF-8";


body {
	background-color: #222829;	
}

.content {
	background-color: #efefef;
}

.content h2 {
	color: #393C3D;
	font-size: 24px;
}

.content p {
	font-size: 15px;
	margin-bottom: 13px;
}

.content-bottom {
	background-color: #f7f7f7;
}

.content-bottom h3 {
	font-family: 'Shift', sans-serif;
	font-size: 18px;
	font-weight: bold;
}

.content-bottom a {
	color: #00b0ff;
}

fieldset {
	text-align: center;
}

.impressum h1,
.impressum h2,
.impressum p{
	color: #9D9D9D;
}

.index .modal-footer,
.index .content-bottom{
	background-color: #EFEFEF;
}

.jumbotron {
	background-image:
		url('http://images.alphacoders.com/480/480282.jpg');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

.jumbotron .container {
	position: relative;
	top: 100px;
}

.jumbotron h1 {
	color: #fff;
	font-size: 48px;
	font-family: 'Shift', sans-serif;
	font-weight: bold;
}

.jumbotron p {
	font-size: 20px;
	color: #fff;
}

legend {
	color: #9D9D9D;
}

li a:hover {
	color: #74898C;
	font-weight: bold;
	text-decoration: none;
}

#link:hover {
color: #54B2FF;
font-weight: bold;
text-decoration: none;
}

.modal-footer{
	text-align: center;
	border:none;
}

.navbar {
	margin-top: 5px;
}

.navbar a {
	color: #5a5a5a;
	font-size: 11px;
	font-weight: bold;
	padding: 14px 10px;
	text-transform: uppercase;
}

.navbar li {
	display: inline;
}

.setActive {
	border-color: #171A1C;
	background-color: #171A1C;
	color: white;
}

#suchformular{
	color: #9D9D9D;
}

#suchformular h1{
	text-align: left;
}

#suchlabel {
	color: #9D9D9D;
}
